<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Vinyl Collections</title>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">

  <nav class="navbar navbar-default">
    <div class="container">
      <a class="navbar-brand">
        <i class="fas fa-record-vinyl fa-5x record-img"></i>
      </a>
      <div class="navbar-header">
        <p class="navbar-brand">VINYL COLLECTIONS</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li id="home"><a href="/">HOME</a></li>
          <% if (isAuthenticated) { %>
          <li id="collection"><a href="/collection">MY COLLECTION</a></li>
          <li id="other"><a href="/users">OTHER USERS</a></li>
          <li id="logout"><a class="logout" href="/logout">LOG OUT</a></li>
          <% } %>
        </ul>
    </div>
  </nav>
</head>

<body>

  <div class="page-container">
    <div class="content-wrap">
