<%- include('partials/header') %>

<div class="jumbotron centered">
  <div class="container">
    <h1 class="display-3">Brand new app!</h1>
    <p class="lead">Keep track of all your vinyl records using one app.</p>
    <hr>
    <form action="/register" class="home-btn-form">
      <button type="submit" class="btn home-btn  " name="button">Register</button>
    </form>
    <form action="/login" class="home-btn-form">
      <button type="submit" class="btn home-btn " name="button">Login</button>
    </form>
  </div>
</div>

<%- include('partials/footer') %>
