
body {
  background-color: GhostWhite;
  font-size: 1.75rem;
  color: #52575d;
}

.jumbotron{
  background-color: GhostWhite;
  margin-left: 10%;
}

.auth-page-title {
  margin: 5% 5% 1% 5%;
}
/* header */

.navbar {
  background-color: #dfd8c8;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 13px;
  letter-spacing: 4px;
}

.logout{
  font-weight: bold;
}

.record-img {
  position: relative;
  margin-top: -20px;
  width: 80px;
}

.container {
  margin: 0;
  width: 100%;
}

/* home */

label {
  margin-bottom: 3px;
  margin-top: 3px;
}

.home-btn-form{
  display: inline;
}

.home-btn{
  color: GhostWhite;
  margin: 0;
  background-color: #cabfab;
  border-color: #cabfab;
  width: 80px;
}

/* collection */
.table>tbody>tr>td {
  vertical-align: middle;
  padding: 4px;
}


.table-div {
  font-size: 1.65rem;
  width: 96%;
  margin: 0 2% 4% 2%;
  padding-top: 2%;

}

.cover-img {
  width: 40px;
  height: 40px;
}

.button-div {
  width: 96%;
  margin: 0 2% 0 2%;
}

.hidden-column {
  visibility: hidden;
}

.show-icon {
  visibility: visible;
}

.users-list{
  color: black;
  font-size: 2rem;
  font-weight: 500;
}

a{
  color: #52575d;
}
a:hover{
  color: #41444b;
}

.search-div{
  width: 30rem;
  margin-bottom: 1em;
}

.form-control.search-bar{
  padding-right: 10px;
  display:inline-block;
  width: 20rem;
}

.input{
  padding-left: 0;
}

.up-down-div{
  display: inline;
  padding-left: 5px;
}

.up-down-div a{
  padding-left: 5px;
  color: gray;
}

/* submit page */
form input {
  display: block;
  padding: 0.25%;
  margin: 0.25%
}

.submit-div {
  display: inline-block;
  width: 25%;
  margin: 0 5% 1% 5%;
  padding-top: 3%;
}

.sign-in-button, .register-button {
  margin-top: 2%;
  margin-bottom: 2%;
  display: block;
}

.btn-primary {
  background-color: #cabfab;
  border-color: #cabfab;
}

.add-button {
  margin-left: 0;
  width: 80%;
}

.btn-primary:hover, .home-btn:hover {
  color: white;
  background-color: #52575d;
  border-color: #52575d;
}

#imgUrlHelp {
  font-size: 75%;
}

.editDelete {
  display: inline;
}

/* footer */

/*.page-container {
  position: relative;
  min-height: 90vh;
  display: block;

}*/

.footer {
  position: absolute;
  
  bottom: 0;
  width: 100%;
  height: 10%;
  background-color: #dfd8c8;
  text-align: center;

}

.copyright {
  color: #777;
  padding-top: 25px;
  font-size: 16px;
  font-weight: 500;
}

.alert-divs{
  margin: 1% 5% 1%;
}

.image-holder-edit {
  display: inline-block;
  margin: 5% 15%;
  width: 30%;
  position: absolute;
  box-shadow: 5px 10px 10px gray;
}

.image-edit-screen {
  width: 100%;
  height: 100%;
}